<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Cliente</title>
</head>
<body>

	<h1>Cadastro de Cliente</h1>
	
	<form th:action="@{/web/clientes/salvar}" th:object="${cliente}" method="post">
	    <input type="text" th:field="*{id}" /> 
	
	    <label>Nome:</label>
	    <input type="text" th:field="*{nome}" required />
	    <br/>
	
	    <label>CPF:</label><!-- bloqueia a edicao se CPF nao for nulo -->
	    <input type="text" th:field="*{cpf}" required />
	    <!-- 
	    
	     
	    <input type="text" th:field="*{cpf}" th:attr="${cliente.id} != null ? 'readonly'='readonly' : null" />
	    -->
	    <br/> 
	
	    <label>Telefone:</label>
	    <input type="text" th:field="*{telefone}" required />
	    <br/>
	
	    <label>Endereço:</label>
	    <input type="text" th:field="*{endereco}" required />
	    <br/>
	
	    <button type="submit">Salvar</button>
	</form>
	
	<br>
	<a th:href="@{/web/clientes/listar}">Ver lista de clientes</a>

</body>
</html>


